.App {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title-container {
  margin-bottom: 2rem;
}

.title {
  font-size: 3rem;
  margin: 0;
}

.subtitle {
  font-size: 1rem;
  margin: 0;
  opacity: 0.6;
  display: flex;
  align-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.question {
  font-size: 2rem;
  margin: 0;
}

.japanese-character {
  font-size: 5rem;
  margin: 0;
}

.next-button {
  background-color: #f2f2f2;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Submit {
  background-color: #333333;
  color: #F0F0F0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.correct {
  font-size: 1.5rem;
  font-weight: bold;
  color: green;
  margin-top: 10px;
  opacity: 0.6;
}

.incorrect {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  margin-top: 10px;
  opacity: 0.6;
}

.social-icons a {
  margin-top: 20px;

  justify-content: center;
  color: #2a1806;
  font-size: 2rem;
}

.mistakes-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: 400px; /* set a fixed height */
  overflow-y: auto; /* add vertical scrollbar if needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mistake {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background: #fff;
  box-shadow: 0px 1px 6px #ccc;
  transition: all 0.3s ease-in-out;
}

.mistake:hover {
  box-shadow: 0px 1px 10px #ccc;
  transform: scale(1.05);
}
.mistake {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.kunyomi {
  
}

.mistake h2.japanese-character {
  font-size: 36px;
  margin-right: 20px;
}

.mistake-counts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.count {
  margin: 0 10px;
  font-size: 28px;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.correct-count {
  color: green;
}

.incorrect-count {
  color: red;
}

.mistake .japanese-character {
  font-size: 48px;
  margin: 0;
  padding-right: 20px;
}

.mistake-counts {
  display: flex;
  flex-direction: column;
}

.correct-count {
  margin: 0;
  font-size: 24px;
  text-align: left;
}

.incorrect-count {
  margin: 0;
  font-size: 24px;
  text-align: right;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 1rem 0;
  padding: 0.5rem;
  font-size: 1.5rem;
}

button {
  margin: 1rem 0;
  padding: 0
}